BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BASE_CHAIN_ID=84532
BASE_PRIVATE_KEY=replace_with_a_test_wallet_private_key
MNEMON_ANCHOR_ADDRESS=replace_after_deployment
ACP_BUYER_WALLET_ADDRESS=replace_with_registered_buyer_agent_wallet
ACP_BUYER_WALLET_ID=replace_with_privy_wallet_id
ACP_BUYER_SIGNER_PRIVATE_KEY=replace_with_privy_authorization_signer_pkcs8_pem
ACP_PROVIDER_WALLET_ADDRESS=replace_with_registered_provider_wallet
ACP_PROVIDER_AGENT_ID=replace_with_registered_provider_agent_id
ACP_PROVIDER_SIGNER_SOURCE=acp-cli-keychain
ACP_OFFERING_NAME=independent_memory_adjudication
